.text-updater-node {
    height: 50px;
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 5px;
    background: white;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid lightblue;
}
.trapezoid {
    border-bottom: 50px solid lightcyan;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 125px;
}

.rectangle {
    height: 50px;
    width: 100px;
    border: solid 1px gray;
    background-color: lightgreen;
}

.circle {
    height: 100px;
    width: 100px;
    background-color: lightcoral;
    border: solid 1px gray;
    border-radius: 50%;
}

.oval {
    height: 100px;
    width: 200px;
    background-color: lightseagreen;
    border: solid 1px gray;
    border-radius: 50%;
}

.parallelogram {
    width: 100px;
    height: 50px;
    border: solid 1px gray;
    transform: skew(20deg);
    background: lightsalmon;
}

.text-updater-node label {
    display: block;
    color: pink;
    font-size: 12px;
}

.center {
    vertical-align: middle;
    position: absolute;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    width: 100%;
    z-index: 1000;
    margin: 0 auto;
}

.tooltip {
    max-width: fit-content;
    margin-inline: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 50%);
    position: absolute;
    z-index: 1;
}

/* .center:hover .tooltiptext {
    visibility: visible;
} */

/* Make the node handle invisible and retract them a bit in the node so that the edge goes into it*/
.invis {
    opacity: 0;
    height: 0;
    width: 0;
    top: 25%;
    bottom: 25%;
}

.hoverable:hover {
    border: solid 1px black;
}

.react-flow__edge.selectable:hover .react-flow__edge-path,
.react-flow__edge.selectable.selected .react-flow__edge-path {
    stroke: black;
}

.background {
    background-color: var(--vscode-editor-background);
}

.hierarchy-button {
    position: absolute;
    border-radius: 50%;
    border: solid 1px var(--node-border-color);
    width: 20%;
    aspect-ratio: 1 / 1;
    background: var(--vscode-sideBar-background);
    z-index: 1000;
    color: var(--vscode-editor-foreground);
}

.context-button:hover,
.hierarchy-button:hover {
    transition: all 0.1s ease-in-out;
    border-color: var(--vscode-focusBorder);
    color: var(--vscode-activityBar-foreground);
    background-color: color-mix(
        in srgb,
        var(--vscode-activityBar-background) 80%,
        var(--vscode-foreground) 20%
    );
}

.sub-button-down {
    left: 40%;
    bottom: -10%;
}
.sub-button-right {
    right: -10%;
    top: 40%;
}

.super-button-up {
    left: 40%;
    top: -10%;
}

.super-button-left {
    top: 40%;
    left: -10%;
}

.context-menu {
    position: absolute;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background: var(--vscode-sideBar-background);
    z-index: 10000;
    width: initial;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    padding: 0.5%;
}

.context-button {
    border: none;
    background: var(--vscode-sideBar-background);
    color: var(--vscode-editor-foreground);
    text-align: left;
    border-radius: 6px;
    width: 100%;
    padding: 0.5em;
}
