.rectangle {
    --node-border-color: gray;
    height: inherit;
    width: inherit;
    position: relative;
    border: solid 1px var(--node-border-color);
    border-radius: 6px;
    padding: 8px;
    background: var(--vscode-sideBar-background);
    color: var(--vscode-editor-foreground);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.body {
    vertical-align: middle;
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    padding: 12.5%;
    width: 75%;
    z-index: 1000;
    margin: 0 auto;
    font-size: 16px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: larger;
    border-bottom: inherit;
}

.text {
    margin-left: 3px;
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.icon {
    margin-bottom: 10px;
    transform: translateY(10%);
}

/* Make the node handle invisible and retract them a bit in the node so that the edge goes into it*/
.invis {
    height: 0;
    width: 0;
    top: 25%;
    bottom: 25%;
    opacity: 0;
}

.rectangle.selectedd,
.rectangle.hoverable:hover {
    transition: all 0.1s ease-in-out;
    border-color: var(--vscode-focusBorder);
    color: var(--vscode-activityBar-foreground);
    background-color: var(--vscode-activityBar-background);
}

.highlight,
.react-flow__edge.selectable:hover .react-flow__edge-path:hover,
.react-flow__edge.selectable.selected .react-flow__edge-path {
    stroke: var(--edge-color);
    --edge-color: var(--vscode-focusBorder);
}

.background {
    background-color: var(--vscode-editor-background);
}

.hierarchy-button {
    position: absolute;
    border-radius: 50%;
    border: solid 1px var(--node-border-color);
    width: 20%;
    aspect-ratio: 1 / 1;
    background: var(--vscode-sideBar-background);
    z-index: 1000;
    color: var(--vscode-editor-foreground);
}

.hierarchy-button:hover {
    transition: all 0.1s ease-in-out;
    border-color: var(--vscode-focusBorder);
    color: var(--vscode-activityBar-foreground);
    background-color: color-mix(
        in srgb,
        var(--vscode-activityBar-background) 80%,
        var(--vscode-foreground) 20%
    );
}

.sub-button-down {
    left: 40%;
    bottom: -10%;
}
.sub-button-right {
    right: -10%;
    top: 40%;
}

.super-button-up {
    left: 40%;
    top: -10%;
}

.super-button-left {
    top: 40%;
    left: -10%;
}
