.visualizer__colors {
    --visualizer-border-color: gray;
    --visualizer-item-selected: var(--vscode-activityBar-foreground);
    --visualizer-item-background-selected: var(--vscode-activityBar-background);
    --visualizer-item-background: var(--vscode-sideBar-background);
    --visualizer-text-color: var(--vscode-editor-foreground);
    --visualizer-view-port-background: var(--vscode-editor-background);
    --visualizer-border-color-focused: var(--vscode-focusBorder);
    --visualizer-foreground-color: var(--vscode-foreground);
    --visualizer-control-button-color: var(--vscode-panelTitle-activeForeground);
    --visualizer-control-button-separator: var(--vscode-button-secondaryBackground);
    --visualizer-control-button-hover-background: var(--vscode-panelSection-border);
    --visualizer-search-bar-shadow: var(--vscode-activityBar-dropBorder);
}

.visualizer__rectangle {
    height: inherit;
    width: inherit;
    position: relative;
    border: solid 1px var(--visualizer-border-color);
    border-radius: 6px;
    background: var(--visualizer-item-background);
    color: var(--visualizer-text-color);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

body {
    padding: 0%;
}

.visualizer__node_body {
    vertical-align: middle;
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    padding: 12.5%;
    width: 75%;
    z-index: 1000;
    margin: 0 auto;
    font-size: 16px;
}

.visualizer__node_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: larger;
    padding: 5% 5% 0% 5%;
    border-bottom: inherit;
}

.visualizer__text {
    margin-left: 3px;
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.visualizer__icon {
    margin-bottom: 10px;
    transform: translateY(10%);
}

/* Make the node handle invisible and retract them a bit in the node so that the edge goes into it*/
.visualizer__invis {
    height: 0;
    width: 0;
    top: 25%;
    bottom: 25%;
    opacity: 0;
}

.visualizer__rectangle.visualizer__selected,
.visualizer__rectangle:hover {
    transition: all 0.1s ease-in-out;
    border-color: var(--visualizer-border-color-focused);
    color: var(--visualizer-item-selected);
    background-color: var(--visualizer-item-background-selected);
    opacity: unset;
}

.visualizer__out-of-project {
    opacity: 0.6;
}

.visualizer__highlight,
.react-flow__edge.selectable:hover .react-flow__edge-path:hover,
.react-flow__edge.selectable.selected .react-flow__edge-path {
    stroke: var(--visualizer-border-color-focused);
}

.visualizer__background {
    background-color: var(--visualizer-view-port-background);
    cursor: default;
}

.visualizer__hierarchy-button {
    position: absolute;
    border-radius: 50%;
    border: solid 1px var(--visualizer-border-color);
    width: 20%;
    aspect-ratio: 1 / 1;
    background: var(--visualizer-item-background);
    z-index: 1000;
    color: var(--visualizer-text-color);
    cursor: pointer;
}

.visualizer__context-button:hover,
.visualizer__hierarchy-button:hover {
    transition: all 0.1s ease-in-out;
    border-color: var(--visualizer-border-color-focused);
    color: var(--visualizer-item-selected);
    background-color: color-mix(
        in srgb,
        var(--visualizer-item-background-selected) 80%,
        var(--visualizer-foreground-color) 20%
    );
}

.visualizer__sub-button-down {
    left: 40%;
    bottom: -10%;
}
.visualizer__sub-button-right {
    right: -10%;
    top: 40%;
}

.visualizer__super-button-up {
    left: 40%;
    top: -10%;
}

.visualizer__super-button-left {
    top: 40%;
    left: -10%;
}

.visualizer__context-menu {
    position: absolute;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background: var(--visualizer-item-background);
    z-index: 10000;
    width: initial;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    padding: 0.5%;
}

.visualizer__context-button {
    border: none;
    background: var(--visualizer-item-background);
    color: var(--visualizer-text-color);
    text-align: left;
    border-radius: 6px;
    width: 100%;
    padding: 0.5em;
}

.react-flow__nodesselection-rect {
    color: transparent;
    background-color: transparent;
    border: transparent;
}

.react-flow__controls-button {
    background: var(--visualizer-item-background-selected);
    color: var(--visualizer-control-button-color);
    border-bottom: 1px solid var(--visualizer-control-button-separator);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.react-flow__controls-button:hover {
    transition: all 0.1s ease-in-out;
    background: var(--visualizer-control-button-hover-background);
    color: var(--visualizer-item-selected);
}

.react-flow__controls-zoomin {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.visualizer__bottom-button {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#visualizer__node-search-bar {
    border-radius: 6px;
    border: solid 1px var(--visualizer-border-color);
    padding-left: 5%;
    height: 1.5vh;
    width: 100%;
}

#visualizer__node-search-bar:hover,
#visualizer__node-search-bar:focus {
    transition: all 0.1s ease-in-out;
    border: solid 1px var(--visualizer-item-selected);
    box-shadow: 0px 0px 0px 2.5px var(--visualizer-search-bar-shadow);
    outline: 1px solid var(--visualizer-item-selected);
}

.visualizer__node-search-item {
    padding: 1%;
    padding-left: 5%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: inherit;
    height: 1.5vh;
}

.visualizer__node-search-item:hover,
.visualizer__search-selected {
    color: var(--visualizer-item-selected);
    background-color: color-mix(
        in srgb,
        var(--visualizer-item-background-selected) 80%,
        var(--visualizer-foreground-color) 20%
    );
}

#visualizer__node-search-list {
    position: relative;
    list-style: none;
    color: var(--visualizer-text-color);
    padding: 2%;
    padding-top: 3%;
    margin: 0px;
    border-radius: 6px;
    max-height: 15vh;
    overflow: hidden;
    overflow-y: scroll;
}

#visualizer__node-search-list:has(li) {
    background: var(--visualizer-item-background);
}

.visualizer__node-search {
    width: 100%;
}

.visualizer__wait {
    position: absolute;
    --visualizer-load-width: 100px;
    width: var(--visualizer-load-width);
    background-color: var(--visualizer-border-color-focused);
    height: 3px;
    animation: linear infinite;
    animation-name: run;
    animation-duration: 5s;
}

@keyframes run {
    0% {
        left: 0%;
    }
    50% {
        left: calc(100% - var(--visualizer-load-width));
    }
    100% {
        left: 0%;
    }
}
